body {
  width: 100%;
  background: black;
}

.caixa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fb6b6b;
  min-height: 80vh;
  width: 100%;
}

.foot {
  min-height: 20vh;
  width: 100%;
}
